doctype html

h1 #{game.primary_name} (#{game.year})
h2
  a(href='https://boardgamegeek.com/boardgame/' + game.id) BGG

h2
  a(href=game.image) Image

h3 Rating
ul
  li Votes: #{game.rating_votes}
  li Average: #{game.average_rating}
  li Bayes: #{game.bayes_rating}
  li Deviation: #{game.rating_deviation}

h3 Playtime
ul
  li Minimum: #{game.minimum_playtime}
  li Maximum: #{game.maximum_playtime}

h3 Players
ul
  li Minimum: #{game.minimum_players}
  li Maximum: #{game.maximum_players}

h3 Weight
ul
  li Votes: #{game.weight_votes}
  li Average: #{game.average_weight}

h3 Description
each paragraph in game.description.split('&#10;&#10;')
  p !{paragraph}

h3 Categories
ul
  each category in game.categories
    li= category

h3 Mechanics
ul
  each mechanic in game.mechanics
    li= mechanic

h3 Families
ul
  each family in game.families
    li= family

h3 Designers
ul
  each designer in game.designers
    li= designer

h3 Publishers
ul
  each publisher in game.publishers
    li= publisher

h3 Artists
ul
  each artist in game.artists
    li= artist

h3 Alternate Names
ul
  each alternate_name in game.alternate_names
    li= alternate_name

h3 Player Recommendations
ul
  each pr in game.player_recommendations
    li #{rangeToText(pr.players)}
      ul
        li Best: #{pr.best}
        li Recommended: #{pr.recommended}
        li Not Recommended: #{pr.not_recommended}
